<div class="container">
  <div class="row">
    <div class="col-md-2">

      <p>
        Search:
        <input ng-model="$ctrl.query">
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="price">Most expensive</option>
        </select>
      </p>

    </div>

    <div class="col-md-10">
      <ul class="goods">
        <li ng-repeat="good in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#/goods/{{good.id}}" class="thumb">
            <img ng-src="{{good.imageUrl}}" alt="{{good.name}}" />
          </a>
          <a href="#/goods/{{good.id}}">{{good.name}}</a>
          <p>{{good.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
  <pre>{{$ctrl.goods | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>
</div>







